<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd http://www.nlog-project.org/schemas/NLog.xsd">

	<internalLogFile value="C:\temp\nlog-internal.log" />
	<internalLogLevel value="debug" />

	<targets>
		<!-- Log to console -->
		<target name="console" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />

		<target name="file" xsi:type="File" fileName="C:\logs\log.txt" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Default rule: log everything with level Info or above to console and file -->
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>

</nlog>
